# <u>Lecture 5 Lab Exercises</u>

<span style="color:green"> I did all the required exercises and fully understand them.</span>

Exercise | Comments
---|---
9.16|Done
10.2|Done
10.5|Done

## _**9.16** Data Science: Working with the diamonds.csv Dataset in Pandas_

I was able to perform each part as decribed in the exercises using the Pandas library. I feel comfortable creating, slicing, dicing, transposing and sorting dataframes.

#### (a) Download diamonds.csv from one of the dataset repositories.

#### (b) Load the dataset into a pandas DataFrame with the following statement, which uses the first column of each record as the row index.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('diamonds.csv', index_col=0)

#### (c) Display the first seven rows of the DataFrame.

In [4]:
df.head(7)

   carat        cut color clarity  depth  table  price     x     y     z
1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
6   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47

#### (d) Display the last seven rows of the DataFrame.

In [5]:
df.tail(7)

       carat        cut color clarity  depth  table  price     x     y     z
53934   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53935   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

#### (e) Use the DataFrame method describe (which looks only at the numerical columns) to calculate the descriptive statistics for the numerical columns—carat, depth, table, price, x, y and z.

In [6]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

#### (f) Use Series method describe to calculate the descriptive statistics for the categorical data (text) columns—cut, color and clarity.

In [9]:
df.cut.describe(), df.color.describe(), df.clarity.describe()

(count     53940
 unique        5
 top       Ideal
 freq      21551
 Name: cut, dtype: object,
 count     53940
 unique        7
 top           G
 freq      11292
 Name: color, dtype: object,
 count     53940
 unique        8
 top         SI1
 freq      13065
 Name: clarity, dtype: object)

#### (g) What are the unique category values (use the Series method unique)?

In [10]:
df.cut.unique(), df.color.unique(), df.clarity.unique()

(array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object),
 array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object),
 array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
       dtype=object))

#### (h) Execute the %matplotlib magic to enable Matplotlib support in IPython. Then, to view histograms of each numerical data column, call your DataFrame’s hist method.

In [12]:
import matplotlib
%matplotlib

KeyError: 'magic'

In [17]:
hist(df)

## _**10.2** Account Class with Read-Only Properties_

I was able to define a function `pig_latin` which converts an input English string to an output pigLatin string. I have made comments throughout my code to eplain the logic.

In [18]:
# account.py
"""Account class definition."""
from decimal import Decimal

class Account:
"""Account class for maintaining a bank account balance."""

ModuleNotFoundError: No module named 'account'

In [15]:
string = 'Hello my name is pig and i am a dirty animal'
pig_latin(string)

'ellohay ymay amenay isay igpay anday iay amay aay irtyday animalay'

## _**10.5** Duck Typing_

The following code prints the first 10 emojis beginning with a smiley face, using a `loop` and a `f-string`.

In [16]:
print(f'{"Unicode":>5}{"Emoji":>8}')
for a in range(10):
    code = "0x1F60" + str(a)
    print(f'{int(code, 16):>5}{int(code, 16):>7c}')

Unicode   Emoji
128512      😀
128513      😁
128514      😂
128515      😃
128516      😄
128517      😅
128518      😆
128519      😇
128520      😈
128521      😉