<span style="color:green"> I did all the required exercises and fully understand them.</span>

Exercise | Comments
---|---
4.9|Done
5.6|Done
5.7|Done
5.14|Done

# <u>Lecture 3 Lab Exercises</u>

## _**4.9** Data Science: Temperature Conversion_

In [1]:
def fahrenheit(celsius):
    
    ''' Function returns the fahrenheit equivalent of celsius temperature. '''
    
    return (celsius * (9 / 5)) + 32

In [2]:
for celsius in range(0, 101):
    
    print(f'{celsius:>5}{"°C"}{"->":>5}{fahrenheit(celsius):>8.1f}{"°F"}')

    0°C   ->    32.0°F
    1°C   ->    33.8°F
    2°C   ->    35.6°F
    3°C   ->    37.4°F
    4°C   ->    39.2°F
    5°C   ->    41.0°F
    6°C   ->    42.8°F
    7°C   ->    44.6°F
    8°C   ->    46.4°F
    9°C   ->    48.2°F
   10°C   ->    50.0°F
   11°C   ->    51.8°F
   12°C   ->    53.6°F
   13°C   ->    55.4°F
   14°C   ->    57.2°F
   15°C   ->    59.0°F
   16°C   ->    60.8°F
   17°C   ->    62.6°F
   18°C   ->    64.4°F
   19°C   ->    66.2°F
   20°C   ->    68.0°F
   21°C   ->    69.8°F
   22°C   ->    71.6°F
   23°C   ->    73.4°F
   24°C   ->    75.2°F
   25°C   ->    77.0°F
   26°C   ->    78.8°F
   27°C   ->    80.6°F
   28°C   ->    82.4°F
   29°C   ->    84.2°F
   30°C   ->    86.0°F
   31°C   ->    87.8°F
   32°C   ->    89.6°F
   33°C   ->    91.4°F
   34°C   ->    93.2°F
   35°C   ->    95.0°F
   36°C   ->    96.8°F
   37°C   ->    98.6°F
   38°C   ->   100.4°F
   39°C   ->   102.2°F
   40°C   ->   104.0°F
   41°C   ->   105.8°F
   42°C   ->   107.6°F
   43°C   ->   109.4°F
   44°C   ->   111.2°F
   45°C   ->   113.0°F
   46°C   ->   114.8°F
   47°C   ->   116.6°F
   48°C   ->   118.4°F
   49°C   ->   120.2°F
   50°C   ->   122.0°F
   51°C   ->   123.8°F
   52°C   ->   125.6°F
   53°C   ->   127.4°F
   54°C   ->   129.2°F
   55°C   ->   131.0°F
   56°C   ->   132.8°F
   57°C   ->   134.6°F
   58°C   ->   136.4°F
   59°C   ->   138.2°F
   60°C   ->   140.0°F
   61°C   ->   141.8°F
   62°C   ->   143.6°F
   63°C   ->   145.4°F
   64°C   ->   147.2°F
   65°C   ->   149.0°F
   66°C   ->   150.8°F
   67°C   ->   152.6°F
   68°C   ->   154.4°F
   69°C   ->   156.2°F
   70°C   ->   158.0°F
   71°C   ->   159.8°F
   72°C   ->   161.6°F
   73°C   ->   163.4°F
   74°C   ->   165.2°F
   75°C   ->   167.0°F
   76°C   ->   168.8°F
   77°C   ->   170.6°F
   78°C   ->   172.4°F
   79°C   ->   174.2°F
   80°C   ->   176.0°F
   81°C   ->   177.8°F
   82°C   ->   179.6°F
   83°C   ->   181.4°F
   84°C   ->   183.2°F
   85°C   ->   185.0°F
   86°C   ->   186.8°F
   87°C   ->   188.6°F
   88°C   ->   190.4°F
   89°C   ->   192.2°F
   90°C   ->   194.0°F
   91°C   ->   195.8°F
   92°C   ->   197.6°F
   93°C   ->   199.4°F
   94°C   ->   201.2°F
   95°C   ->   203.0°F
   96°C   ->   204.8°F
   97°C   ->   206.6°F
   98°C   ->   208.4°F
   99°C   ->   210.2°F
  100°C   ->   212.0°F

I have defined a function **fahrenheit** which converts the input celsius temperature to its corresponding fahrenheit temperature. Then, I implemented a **for** loop from 0 to 100 to iterate over 0-100°C and print out the conversions using a **f-string**.

## _**5.6** Functions Returning Tuples_

In [3]:
def rotate(argument1, argument2, argument3):
    
    ''' Function returns a tuple in which 
    the first argument is at index 1, 
    the second argumentis at index 2 and 
    the third argument is at index 0. '''
    
    return (argument3, argument1, argument2)

In [4]:
a = 'Doug'
b = 22
c = 1984
a, b, c

('Doug', 22, 1984)

In [5]:
a, b, c = rotate(a, b, c)
a, b, c

(1984, 'Doug', 22)

In [6]:
a, b, c = rotate(a, b, c)
a, b, c

(22, 1984, 'Doug')

In [7]:
a, b, c = rotate(a, b, c)
a, b, c

('Doug', 22, 1984)

For this exercise, I defined a function **rotate** which basically shuffles the input arguments into a tuple. As described in the prompt, I declared and assigned three variables. Then I called the function rotate thrice and unpacked its result into a, b and c.

## _**5.7** Data Science: Duplicate Elimination_

In [8]:
def duplicate_elimination(input_list, ascending = True):
    
    ''' Function receives a list and returns the list 
    containing only the unique values in sorted order. '''
    
    output_list = []
    
    input_list.sort()
    for item in input_list:
        if item not in output_list:
            output_list.append(item)
    
    return output_list if ascending == True else output_list[:: -1]

In [9]:
input_list = [2, 3, 5, 100, 9, 2, 1, 1]
duplicate_elimination(input_list, ascending = False)

[100, 9, 5, 3, 2, 1]

In [10]:
input_list = [2, 3, 5, 100, 9, 2, 1, 1]
duplicate_elimination(input_list)

[1, 2, 3, 5, 9, 100]

In [11]:
input_list = [1, 1, 2, 2, 1, 1, 3, 4, 0, -1, 2, 4, 5, 4, 6, 6, 6, -3]
duplicate_elimination(input_list)

[-3, -1, 0, 1, 2, 3, 4, 5, 6]

I have implemented a function **duplicate_elimination** which removes duplicates from an **input_list** and returns a sorted **output_list**.

The function defines an empty **output_list**. Firstly, it sorts **input_list**. Then it checks consecutively if an **item** from **input_list** is already present in the **output_list**. If present, it skips that **item**. If absent, it adds that **item** to **output_list**. Finally, **output_list** or reverse of **output_list** is returned based on ascending or descending order as defined by user.

I added advanced functionality by defining the argument **ascending = True**. This allows the user to define both ascending and descending orders.

## _**5.14** Is a Sequence Sorted?_

In [12]:
def is_ordered(sequence, ascending = True):
    
    ''' Function receives a sequence and returns 
    True if the elements are in sorted order. '''
    
    order = True
    
    for index in range(len(sequence) - 1):
        if (sequence[index+1] < sequence[index] and ascending == True) \
        or (sequence[index+1] > sequence[index] and ascending == False):
            order = False
            
    return order

In [13]:
sequence = 'abcdefg'
is_ordered(sequence)

True

In [14]:
sequence = 'hello'
is_ordered(sequence)

False

In [15]:
sequence = [1, 2, 3, 4, 6]
is_ordered(sequence)

True

In [16]:
sequence = [6, 3, 3, 2, 1]
is_ordered(sequence, ascending = False)

True

In [17]:
sequence = [1, 1, 2, 2, 1, 1, 3, 4, 0, -1, 2, 4, 5, 4, 6, 6, 6, -3]
is_ordered(sequence, ascending = False)

False

In [18]:
sequence = [1, 1, 2, 2, 1, 1, 3, 4, 0, -1, 2, 4, 5, 4, 6, 6, 6, -3]
is_ordered(sequence)

False

In [19]:
sequence = [1, 1, 2, 2, 3, 4, 4, 5, 6, 6, 6]
is_ordered(sequence)

True

I have implemented a function **is_ordered()** to check if an input sequence is ordered or not.

I added advanced functionality by defining the argument **ascending = True**. This allows the user to check both ascending and descending orders.

I used a **order** variable set to True by default. I iterated through the sequence using a for loop and under conditions where the order is broken, I set the **order** variable to False. Finally, I ouputted the **order** variable.

I made sure that conditions more likely to be False come first in an **and-if statement** and conditions more likely to be True come first in an **or-if statement**